{% extends 'base.html' %}

{% block body_classes %}page-login{% endblock %}

{% block content %}
    <h3 class="container">
        <span class="grey-text title-type"></span><br />
        <span class="orange-text text-lighten-1">Login</span>
    </h3>

    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col m8 s12">
                    {% if form.errors %}
                    <div class="z-depth-1 alert alert-error">{{ form.username.label }} oder {{ form.password.label }} sind falsch!</div>
                    {% endif %}

                    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{next}}" />
                        <div class="input-field">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                        </div>
                        <div class="input-field">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                        </div>

                        <input type="submit" value="login" class="btn" />

                        {# Assumes you setup the password_reset view in your URLconf #}
                        <p><a href="{% url 'password_reset' %}">Passwort vergessen?</a></p>
                    </form>
                </div>

                <div class="col m4 s12">
                    <div class="login-hint">
                        <strong>Login-Hinweis:</strong>
                        <ul>
                            <li class="code">max@book2.de:123456</li>
                            <li class="code">martin@mustermann.de:123456</li>
                            <li class="code">marie@book2.de:123456</li>
                            <li class="code">admin@admin.de:123456</li>
                            <li class="code">jens@book2.de:123456</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
