/* Global styles */

/* Show scroller every time */
html {overflow-y: scroll;}

/* Sticky footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* */

a {
  color: #26A69A;
}

hr {
  border: none;
  border-bottom: 1px solid #ccc;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

#notification-indicator.ring {
  color: #FFA726;
  animation: ring 8s 1s ease-in-out;
}

.code {
  font-family: monospace;
}

p {
  line-height: 2rem;
}

form .input-field img {
  max-height: 200px;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  height: 200px;
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

nav {
  margin-bottom: 30px;
}
body.page-start main {
  padding-top: 0;
}


.brand-logo i {
  color: #424242;
  font-size: 1.3em;
  margin-right: 5px;
}

.title-type {
  font-size: 0.7em;
}


body.page-start footer.page-footer {
  margin: 0;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: inherit;
  background-image: none;
  color: inherit;
}

.text-right {
  text-align: right;
}

h1.line {
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
}

a.disabled {
  color: #9F9FA7;
  cursor: default;
}


/* Components */

.alert {
  position: absolute;
  left: 50%;
  top: 75px;
  transform: translateX(-50%);
  z-index: 50;
  background-color: white;
  font-weight: 300;
  font-size: 1.2em;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid;
}

.alert i {
  line-height: 23px;
  vertical-align: middle;
}

.alert i.alert-icon {
  position: absolute;
  background-color: #388E3C;
  color: #FFF;
  padding: 7px;
  padding-top: 11px;
  line-height: 100%;
  vertical-align: middle;
  left: 0px;
  top: 0px;
  bottom: 0px;
}

.alert i.alert-hide {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
}

.alert .message {
  margin-left: 40px;
  margin-right: 40px;
  letter-spacing: 0.5px;
}

.alert-error,
.alert-danger {
  color: #B71C1C;
}
.alert-error i.alert-icon,
.alert-danger i.alert-icon {
  background-color: #B71C1C;
}

.alert-warning {
  color: #F57C00;
}
.alert-warning i.alert-icon {
  background-color: #F57C00;
}

.alert-success {
  color: #388E3C;
}
.alert-success i.alert-icon {
  background-color: #388E3C;
}

.alert-info {
  color: #1976D2;
}
.alert-info i.alert-icon {
  background-color: #1976D2;
}

.sdf-badge {
  padding: 4px;
  font-size: 0.8rem;
  color: #fff;
  background-color: #26a69a;
  border-radius: 2px;
}

/* Twitter Bootstrap */

.collapse {
  display: none;
}
.collapse.in,
.collapsing {
  display: block;
}

/* MaterialCSS fixes */

.nav-fixed {
  position: fixed;
  width: 100%;
  z-index: 100;
}
#sidenav-overlay {
  z-index: 99;
}
.nav-fixed + main {
  margin-top: 64px;
  padding-top: 20px;
}

.collection h4 .secondary-content {
  font-size: 0.5em;
}
.collection h4 .secondary-content.btn-flat {
  padding-right: 0;
}

.collection {
  overflow: visible; /* show dropdown menu */
}

.dropdown-content li > a,
.dropdown-content li > span {
  font-size: 1rem;
  text-transform: uppercase;
}

.input-field {
  min-height: 51px;
}
.input-field label {
  left: 0;
  z-index: -1; /* react on click at input */
}
nav .input-field.search-field label {
  z-index: 0;
}
.input-field input[type="checkbox"] + label {
  z-index: 0;
}
nav .input-field.search-field label i {
  line-height: 45px;
}
.input-field input[type=search] {
  padding-left: 2.5rem;
  width: calc(100% - 2.5rem);
}
nav .input-field.search-field input[type=search] {
  color: white;
  border-bottom: 1px solid #ccc;
  line-height: 45px;
  margin-top: 10px;
  margin-bottom: 3px;
  width: 179px;
}

#nav_ul_sort {
  /* nav margin-bottom is ignored if this ul starts to float */
  margin-bottom: 30px;
  /* if this ul starts to the bgColor is needed to prevent transparent bg and overflowed elements */
  background-color: #26a69a;
  /* needs to be 100% width for better float breaks of child ul elems */
  width: 100%;

  border: 0 solid #009688;
  border-right-width: 1px;
  border-left-width: 1px;

  /* hide overflowing borders */
  overflow: hidden;
}

#nav_ul_sort > li {
  border: 1px solid #009688;
  border-right-width:0;
  padding-left: 15px;
  float:right;
}


.text-shadow {
    text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
}


.btn-flat {
  color: #26a69a;
}
.btn-danger {
  background-color: #D62F2F;
}
.btn-danger:hover {
  background-color: #E84F4F;
}
.btn-flat.btn-danger {
  background-color: transparent;
  color: #D62F2F;
}

.input-field.has-error label {
  color: #B71C1C;
}
.input-field.has-error input {
  border-bottom-color: #B71C1C;
}
.input-field.has-error .help-block {
  display: inline;
  position: relative;
  top: -16px;
  color: #b71c1c;
  font-size: 0.8rem;
}

.input-field .select-wrapper + label {
  position: absolute;
  top: -14px;
  font-size: 0.8rem;
}

.select-wrapper {
  padding-bottom: 1px; /* hack for following input-field */
}

.empty {
  margin: 60px 0;
}
.empty i {
  color: #ccc;
  font-size: 15em;
  text-align: center;
  width: 100%;
}
.empty p {
  text-align: center;
  color: #ccc;
  font-size: 1.5em;
  margin-top: 0;
}

nav .profile-img {
  line-height: 64px;
  vertical-align: middle;
  width: 32px;
  margin-right: 10px;
  border: 1px solid #ccc;
  background-color: #FFF;
  padding: 2px;
}


/* Login */
.login-hint {
  border-radius: 3px;
  margin-top: 1em;
  margin-bottom: 2em;
  display: inline-block;
  padding: 20px;
  border: 1px solid #CCC;
  background-color: #F1F1F1;
}
.login-hint ul {
  margin: 10px 0px;
}
.login-hint li {
  list-style-type: disc;
  margin-left: 18px;
}


/* highlights-box */
.highlights-box-row {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}
.highlights-box-cell {
  position: relative;
  width: 11vw;
  height: 15vw;
  min-width: 115px;
  min-height: 145px;

  box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
  margin: 1vw;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  color: white;
  text-align: center;
}
.highlights-box-target a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.highlights-box-hover-info {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  min-height: 20%;
  transition: background-color 0.5s, opacity 0.5s, border 0.5s;
  line-height: 33px;
  vertical-align: bottom;
  padding: 3px 5px;
  font-weight: 300;
}
.highlights-box-hover-info.bottom {
  height: 20%;
  bottom: 0;
}
.highlights-box-hover-info.top {
  text-align: left;
  text-overflow: ellipsis;
  top: 0;
}
.highlights-box-hover-info .price {
  font-size: 1.3em;
}
.highlights-box-hover-info i {
  margin-left: 4px;
  margin-right: 4px;
}
.highlights-box-hover-info i.material-icons {
  font-size: 1.3em;
  position: relative;
  top: 4px;
}
.highlights-box-cell:hover .highlights-box-hover-info {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

/* Showcase */
.showcase .card-book {
  width: 293px;
  min-height: 460px;
  float: left;
  margin: 0 20px 20px 0;
}
.showcase .card-open {
  position: absolute;
  right: 5px;
  top: 320px;
}
.showcase .card-close {
  position: absolute;
  right: 15px;
  top: 15px;
}
.showcase .card-book .card-title {
  line-height: 28px;
  margin-bottom: 15px;
}
.showcase .card-book .card-image {
  height: 310px;
}
.showcase .card-book .card-reveal p {
  border-bottom: 1px dashed #ddd;
}
.showcase .card-book .card-reveal p strong {
  float: right;
}
.showcase .card-book .seller-rating {
  margin-top: 2px;
}
.showcase .card-book.payment img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
.showcase .card-book.payment {
  opacity: 0.4;
}
form .seller-rating-star {
  cursor: pointer;
  font-size: 1.5em;
  width: 22px;
}



/* Offer */
.offer-state {
  display: block;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 5px;
}
.offer-state.active {
  background: #4caf50;
  box-shadow: 0px 0px 10px rgba(76, 175, 80, 0.65);
}
.offer-state.inactive {
  background: #bdbdbd;
}


/* User */
img.user-profile {
  border: 1px solid #CCC;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 7px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.links {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

ul.border-separated li {
  float: left;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #ccc;
}
ul.border-separated li:last-child {
  border-right: none;
}

.page-start .empty {
  color: #808080;
  font-size: 1.5em;
  font-weight: 300;
  font-style: italic;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  width: 880px;
}
.page-start .nav {
  height: 0px;
  z-index: 1; /* clickable button in FF */
}
.page-start nav.transparent {
  background-color: none;
  box-shadow: none;
}
.page-start main {
  height: 100vh;
}
.page-start .main-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100vh;
  width: 100%;
  background: url(/static/img/book5.jpg) no-repeat center bottom;
  background-size: 100vw;
}
.page-start nav {
  margin-top: 20px;
}
.page-start nav ul li:hover {
  background-color: transparent;
}
.page-start nav ul li:active {
  background-color: transparent;
}
.page-start nav a.btn-flat {
  color: white;
  background-color: none;
  border: 1px solid white;
  border-radius: 3px;
  transition: 0.4s all;
  margin-left: 10px;
  font-size: 0.9em;
  padding: 0;
  width: 130px;
  text-align: center;
}
.page-start nav a.btn-flat:hover {
  background-color: #26A69A;
  border: 1px solid #26A69A;
  border-radius: 3px;
}

.page-start .start-arrow {
  position: absolute;
  font-size: 50px;
  bottom: 20px;
  color: #D0D0D0;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  animation: rub 1.5s ease-in-out infinite;
}
.page-start .citations {
  width: 100%;
  color: white;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
  font-family: 'Pacifico', cursive;
  font-size: 2.4em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-20%);
}
.page-start .citations p {
  line-height: 3.5rem;
  padding: 0 2em;
}
.page-start .nav a.button-collapse {
  color: white;
}
.page-start a.brand-logo {
  color: #212121;
}
.page-start .brand-logo i {
  color: #212121;
  margin-top: 10px;
}

@keyframes rub {
  0% { transform: translateX(-50%) translateY(0); }
  50% { transform: translateX(-50%) translateY(-10px); }
  100% { transform: translate(-50%) translateY(0px); }
}

/* Book */
.seller-rating {
  margin-top: 2px;
}
.seller-rating-star {
  font-size: 1em;
  width: 12px;
  color: #FCC32A;
}
.seller-rating-count {
  font-size: 0.8em;
  top: -3px;
  margin-left: 3px;
  position: relative;
}
img.book-cover {
  border: 1px solid #CCC;
  padding: 3px;
  border-radius: 3px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}
.form-actions {
  border-top: 1px solid #ccc;
  margin-top: 30px;
  padding-top: 20px;
}

.book-details .seller-details {
  padding: 10px 15px;
  background-color: #FBFBFB;
  border: 1px solid #ccc;
  border-radius: 2px;
}
.book-details .seller-details p:first-child {
  margin-top: 0;
}
.book-details .seller-details p:last-child {
  margin-bottom: 0;
}


/* Notifications */
.notifications li {
  position: relative;
}
.notifications li .date {
  font-size: 0.8em;
  color: gray;
  margin-right: 20px;
}
.notifications li .subject {
  font-weight: normal;
}
.notifications li.new .subject {
  font-weight: bold;
}
.notifications li .badge {
  text-shadow: 0px 0px 5px rgba(254, 168, 43, 0.42);
  visibility: hidden;
}
.notifications li.new .badge {
  visibility: visible;
}


/* Ratings */
.rating-card {
  margin-bottom: 20px;
}
.rating-card .seller-rating {
  padding-right: 5px;
  border-right: 1px solid #ccc;
  margin-right: 5px;
}
.rating-text {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  font-style: italic;
}


@keyframes ring {
  0% { transform: rotate(0); }
  1% { transform: rotate(30deg); }
  3% { transform: rotate(-30deg); }
  5% { transform: rotate(30deg); }
  7% { transform: rotate(-30deg); }
  9% { transform: rotate(30deg); }
  11% { transform: rotate(-30deg); }
  13% { transform: rotate(30deg); }
  15% { transform: rotate(-30deg); }
  17% { transform: rotate(30deg); }
  19% { transform: rotate(0deg); }

  43% { transform: rotate(0); }
  100% { transform: rotate(0); }
}
