/* Global styles */

/* Sticky footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* */
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

nav {
  margin-bottom: 30px;
}
body.page-start nav {
  margin-bottom: 0px;
}


.brand-logo i {
  color: #424242;
  font-size: 1.3em;
  margin-right: 5px;
}

.title-type {
  font-size: 0.7em;
}


body.page-start footer.page-footer {
  margin: 0;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: inherit;
  background-image: none;
  color: inherit;
}

.alert {
  position: absolute;
  left: 50%;
  top: 75px;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: white;
  font-weight: 300;
  font-size: 1.2em;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid;
}

.alert i {
  line-height: 23px;
  vertical-align: middle;
}

.alert i.alert-icon {
  position: absolute;
  background-color: #388E3C;
  color: #FFF;
  padding: 7px;
  padding-top: 11px;
  line-height: 100%;
  vertical-align: middle;
  left: 0px;
  top: 0px;
  bottom: 0px;
}

.alert i.alert-hide {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
}

.alert .message {
  margin-left: 40px;
  margin-right: 40px;
  letter-spacing: 0.5px;
}

.alert-error,
.alert-danger {
  color: #B71C1C;
}
.alert-error i.alert-icon,
.alert-danger i.alert-icon {
  background-color: #B71C1C;
}

.alert-warning {
  color: #F57C00;
}
.alert-warning i.alert-icon {
  background-color: #F57C00;
}

.alert-success {
  color: #388E3C;
}
.alert-success i.alert-icon {
  background-color: #388E3C;
}

.alert-info {
  color: #1976D2;
}
.alert-info i.alert-icon {
  background-color: #1976D2;
}

.collapse {
  display: none;
}
.collapse.in,
.collapsing {
  display: block;
}

/* MaterialCSS fixes */

.collection h4 .secondary-content {
  font-size: 0.5em;
}
.collection h4 .secondary-content.btn-flat {
  padding-right: 0;
}

.collection {
  overflow: visible; /* show dropdown menu */
}

.dropdown-content li > a
, .dropdown-content li > span {
  font-size: 1rem;
  text-transform: uppercase;
}

.input-field label {
  left: 0;
  z-index: -1; /* react on click at input */
}
nav .input-field.search-field label {
  z-index: 0;
}
nav .input-field.search-field i {
  line-height: 45px;
}
nav .input-field.search-field label i {
  color: rgba(0, 0, 0, 0.5);
  line-height: 45px;
}
nav .input-field.search-field input[type=search]:focus {
  color: #444;
  border-bottom-color: #26a69a;
}
.input-field input[type=search] {
  padding-left: 2.5rem;
  width: calc(100% - 2.5rem);
}
nav .input-field.search-field input[type=search] {
  color: #444;
  border-bottom: 1px solid #ccc;
  line-height: 45px;
  margin-top: 10px;
  margin-bottom: 8px;
  width: 179px;
}

nav .input-field input[type=search]:focus + label i, .input-field input[type=search]:focus ~ .mdi-navigation-close, .input-field input[type=search]:focus ~ .material-icons {
  color: #444;
}

.btn-flat {
  color: #26a69a;
}

.input-field.has-error label {
  color: #B71C1C;
}
.input-field.has-error input {
  border-bottom-color: #B71C1C;
}
.input-field.has-error .help-block {
  display: inline;
  position: relative;
  top: -16px;
  color: #b71c1c;
  font-size: 0.8rem;
}

.input-field .select-wrapper + label {
  position: absolute;
  top: -14px;
  font-size: 0.8rem;
}

.select-wrapper {
  padding-bottom: 1px; /* hack for following input-field */
}
