{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Das Buch befindet sich im Bezahlprozess.</h1>
        <p>Weiterleitung in 2 Sekunden...</p>

        {% include 'app_payment/_paypal_button.html' with payment_form=payment_form hidden=True %}
    </div>

    <script type="text/javascript" charset="utf-8">
        jQuery(function() {
            setTimeout(function() {
                $('form').submit();
            }, 1000);
        });
    </script>
{% endblock %}
