{% extends 'base.html' %}

{% block body_classes %}notifications{% endblock %}

{% block content %}
    <div class="container">
        <h4>
            Ihre Nachrichten
        </h4>

        <div id="accordion">
            {% if notifications.count > 0 %}
                <ul class="notifications collapsible" data-collapsible="accordion">
                    {% for notification in notifications %}
                        <li data-record-id="{{ notification.id }}" class="{% if notification.read_at == None %}new{% endif %}">
                            <div class="collapsible-header">
                                <span class="date">{{ notification.received_date }}</span>
                                <span class="subject">{{ notification.subject }}</span>
                                <span class="badge orange-text text-lighten-1">neu</span>
                            </div>
                            <div class="collapsible-body"><p>{{ notification.message }}</p>

                                <!-- Wird nur angezeigt wenn ein Preisvorschlag gemacht wurde -->
                                {% if notification.notification_type == "COUNTEROFFER" and notification.counter_offer.active == True %}
                                    <div class="row text-right">
                                        <div class="col s3">
                                            <a href="{% url 'app_book:accept_counteroffer' notification.counter_offer.id %}"
                                            class="btn waves-effect waves-light">Annehmen</a>
                                        </div>
                                        <div class="col s3">
                                            <a href="{% url 'app_book:decline_counteroffer' notification.counter_offer.id %}"
                                            class="btn waves-effect waves-light">Ablehnen</a>
                                        </div>
                                    </div>
                                {% endif %}

                                <!-- Wird nur angezeigt wenn ein Preisvorschlag Angenommen wurde -->
                                {% if notification.counter_offer.accepted == True  and notification.notification_type != "BOOK_SEND" and notification.notification_type != "COUNTEROFFER_ACCEPT" or  notification.notification_type == "FASTBUY" %}
                                    <div class="row text-right">
                                        <div class="col s3">
                                            <a href="{% url 'app_notification:notificationsSendBookPage' notification.id %}"
                                               class="btn waves-effect waves-light">Versand</a>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if notification.notification_type == "REQUEST_RATING" and notification.payment_id != None %}
                                    <div class="row text-right">
                                        <div class="col s3">
                                            <a href="{% url 'app_payment:rate-seller' notification.payment_id %}" class="btn waves-effect waves-light">Bewerten</a>
                                        </div>
                                    </div>
                                {% endif %}

                                <!-- Wird nur angezeigt wenn ein Preisvorschlag angenommen wurde -->
                                {% if notification.notification_type == "COUNTEROFFER_ACCEPT" %}
                                    <div class="row text-right">
                                        <div class="col s3">
                                        <a href="{% url 'app_payment:paypal_redirection' notification.counter_offer.offer.book.active_payment.id %}" data-method="post" class="btn waves-effect waves-light">Bezahlen</a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                Es sind keine Nachrichten vorhanden!
            {% endif %}
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible({
                accordion: true // A setting that changes the collapsible behavior to expandable instead of the default accordion style
            });

            $('ul.notifications li.new').on('click', function(event) {
                $element = $(this);
                if (!$element.hasClass('new')) { return; }

                var id = $element.data('record-id');
                $.ajax({
                    method: 'post',
                    url: '/notifications/'+id+'/read/',
                    success: function(data, textStatus, jqXHR) {
                        $element.removeClass('new');
                    }
                });
            });
        });
    </script>
{% endblock %}
