{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}SDF{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <link type="text/css" href="{% static "css/materialize.css" %}" rel="stylesheet">
    <link type="text/css" href="{% static "css/material_icons.css" %}" rel="stylesheet">
    <link type="text/css" href="{% static "css/font-awesome.css" %}" rel="stylesheet">
    <link type="text/css" href="{% static "css/style.css" %}" rel="stylesheet">

    <script type="text/javascript" src="{% static "js/jquery-2.1.4.js" %}"></script>
</head>

<body class="{% block body_classes %}{% endblock %}">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="nav-fixed">
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="{% url "app:startPage" %}" class="brand-logo"><i class="material-icons left">chrome_reader_mode</i>Book²</a>
            {% if user.is_authenticated %}
            <ul id="nav-dropdown-profile" class="dropdown-content">
                <li><a href="{% url 'app_user:edit_profile' user.pk %}">Mein Profil</a></li>
                <li><a href="{% url 'app_user:change_password' %}">Passwort ändern</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'logout' %}?next=/">Logout</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'app_book:showcase' user.id %}">Mein Schaufenster</a></li>
                <li><a href="{% url 'app_book:archivesPage' %}">Archiv</a></li>
                <li><a href="{% url 'app_notification:notificationsPage' %}"><i class="material-icons tooltipped" data-tooltip="Nachrichten">notifications</i></a></li>
                <li><a class="dropdown-button" href="javascript:;" data-constrainwidth="false" data-activates="nav-dropdown-profile">{{ request.current_user.pseudonym_or_full_name }}<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            {% endif %}
            <div class="right">
                <form role="form" method="get" action="{% url 'app_book:searchBookResults' %}">
                    <div class="input-field search-field">
                        <label for="search"><i class="material-icons">search</i></label>
                        <input name="search_string" type="search" id="search-field" class="field" required maxlength="" value="{{ request.GET.search_string }}">
                    </div>
                </form>
            </div>

            <ul id="nav-mobile" class="side-nav">
                {% if user.is_authenticated %}
                <li><a href="{% url 'app_book:showcase' user.id %}">Mein Schaufenster</a></li>
                <li><a href="{% url 'app_book:archivesPage' %}">Archiv</a></li>
                <li><a href="{% url 'app_user:edit_profile' user.id %}">Mein Profil</a></li>
                <li><a href="{% url 'app_user:change_password' %}">Passwort ändern</a></li>
                <li><a href="{% url 'logout' %}?next=/">Abmelden</a></li>
            </ul>
            {% endif %}
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>

<main>
    {% for message in messages %}
        <div class="container z-depth-1 alert alert-{{ message.tags }}">
          <i class="material-icons alert-icon">
            {% if message.tags == 'danger' %}
            error
            {% elif message.tags == 'warning' %}
            warning
            {% elif message.tags == 'success' %}
            check
            {% elif message.tags == 'info' %}
            info
            {% endif %}
          </i>
          <div class="message">{{ message }}</div>
          <i class="material-icons alert-hide js-alert-hide">clear</i>
        </div>
    {% endfor %}

    {% block content %}
    {% endblock %}
</main>

<footer class="page-footer grey darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <p class="grey-text text-lighten-4">Wir sind ein Team von Studenten, die an diesem Projekt arbeiten, als
                    wäre es ein Vollzeitjob. Jegliche Art der Hilfe ist willkommen, um das Projekt weiterzubringen.</p>
            </div>
            <div class="col l3 s12">
                <p><div class="fb-like" data-href="//{{ request.get_host }}{% url "app:startPage" %}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></p>
            </div>
            <div class="col l3 s12">
                <ul>
                    <li><a class="white-text" href="{% url 'app:imprint' %}">Impressum</a></li>
                    <li><a class="white-text" href="{% url 'app:agb' %}">AGB</a></li>
                    <li><a class="white-text" href="{% url 'app:privacy' %}">Datenschutz</a></li>
                    <li><a class="white-text" href="{% url 'app:affiliate' %}">Affiliate</a></li>
                    <li><a class="white-text" href="{% url 'app:team' %}">Team</a></li>
                    <li><a class="white-text" href="{% url 'app:job' %}">Job</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by us with love.
        </div>
    </div>
</footer>


<script type="text/javascript" src="{% static "js/widgets.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>
<script type="text/javascript" src="{% static "js/moment.js" %}"></script>
<script type="text/javascript" src="{% static "js/moment-de.js" %}"></script>
<script type="text/javascript" src="{% static "js/moment-isocalendar.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
<script type="text/javascript" src="{% static "js/knockout-3.3.0.js" %}"></script>
<script type="text/javascript" src="{% static "js/materialize.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.confirm.js" %}"></script>
<script type="text/javascript" src="{% static "js/rails.js" %}"></script>
<script type="text/javascript" src="{% static "js/confirmation.js" %}"></script>
<script type="text/javascript" src="{% static "js/init.js" %}"></script>

</body>
</html>
