<!DOCTYPE html>
<html>
{% include 'app/_head.html' %}

<body class="{% block body_classes %}{% endblock %}">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<noscript class="container z-depth-1 alert alert-error">
    <i class="material-icons alert-icon">error</i>
    <div class="message">Bitte aktivieren Sie Javascript, um die Seite vollständig nutzen zu können!</div>
</noscript>

<div class="nav">
    <nav class="transparent" role="navigation">
        <div class="container">
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

            <a id="logo-container" href="{% url "app:startPage" %}" class="brand-logo"><i class="material-icons left">chrome_reader_mode</i>Book²</a>
            <ul class="right hide-on-med-and-down">
                {% if request.user.is_authenticated %}
                    <li><a class="btn-flat" href="{% url 'app_book:showcase' user.id %}?next=/" role="button">Schaufenster</a></li>
                    <li><a class="btn-flat" href="{% url 'app_book:archivesPage' %}?next=/" role="button">Archiv</a></li>
                    <li><a class="btn-flat" href="{% url 'app_user:user-details' user.id %}?next=/" role="button">Profil</a></li>
                    <li><a class="btn-flat" href="{% url 'app_user:logout' %}?next=/" role="button">Abmelden</a></li>
                {% else %}
                    <li><a class="btn-flat" href="{% url 'app_user:login' %}" role="button">Anmelden</a></li>
                    <li><a class="btn-flat" href="{% url 'app_user:register' %}" role="button">Registrieren</a></li>
                {% endif %}
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="{% url 'app_book:showcases' %}">Schaufenster</a></li>
                <li><a href="{% url 'app_book:books' %}">Bücher</a></li>
                <hr>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'app_book:showcase' user.id %}">Mein Schaufenster</a></li>
                    <li><a href="{% url 'app_book:archivesPage' %}">Archiv</a></li>
                    <li><a href="{% url 'app_user:user-details' user.id %}">Mein Profil</a></li>
                    <li><a href="{% url 'app_user:change_password' %}">Passwort ändern</a></li>
                    <li><a href="{% url 'logout' %}?next=/">Abmelden</a></li>
                {% else %}
                    <li><a href="{% url 'app_user:login' %}">Anmelden</a></li>
                    <li><a href="{% url 'app_user:register' %}">Registrieren</a></li>
                {% endif %}
            </ul>

        </div>
    </nav>
</div>

<main>
    {% include 'app/_messages.html' %}
    {% block content %}{% endblock %}
</main>

{% include 'app/_footer.html' %}
{% include 'app/_js.html' %}

</body>
</html>
