<footer class="page-footer grey darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <p class="grey-text text-lighten-4">Wir sind ein Team von Studenten, die an diesem Projekt arbeiten, als
                    wäre es ein Vollzeitjob. Jegliche Art der Hilfe ist willkommen, um das Projekt weiterzubringen.</p>
            </div>
            <div class="col l3 s12">
                <p></p>
            </div>
            <div class="col l3 s12">
                <ul>
                    <li><a class="white-text" href="{% url 'app:staticpage' 'imprint' %}">Impressum</a></li>
                    <li><a class="white-text" href="{% url 'app:staticpage' 'privacy' %}">Datenschutz</a></li>
                    <li><a class="white-text" href="{% url 'app:staticpage' 'agb' %}">AGB</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by us with love.
        </div>
    </div>
</footer>
