{% load staticfiles %}

<script type="text/javascript" src="{% static "js/widgets.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>
<script type="text/javascript" src="{% static "js/moment.js" %}"></script>
<script type="text/javascript" src="{% static "js/moment-de.js" %}"></script>
<script type="text/javascript" src="{% static "js/moment-isocalendar.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
<script type="text/javascript" src="{% static "js/knockout-3.3.0.js" %}"></script>
<script type="text/javascript" src="{% static "js/materialize.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.confirm.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.scrollTo.js" %}"></script>
<script type="text/javascript" src="{% static "js/URI.js" %}"></script>
<script type="text/javascript" src="{% static "js/rails.js" %}"></script>
<script type="text/javascript" src="{% static "js/confirmation.js" %}"></script>
<script type="text/javascript" src="{% static "js/init.js" %}"></script>
