{% if not embedded %}
<form id="offer_form" role="form" method="post" action="">
    {% csrf_token %}
{% endif %}


    {% csrf_token %}

    {% for field in form.visible_fields %}
    <div class="input-field {% if field.errors %}has-error{% endif %}">
        {{ field }}
        <label>{{ field.label }}</label>
        {% if field.errors %}
            <span class="help-block">
                {% for error in field.errors %}
                    {{ error|escape }}
                {% endfor %}
            </span>
        {% endif %}
    </div>
    {% endfor %}

{% if not embedded %}
    <button type="submit" class="btn waves-effect waves-light">Speichern <i class="material-icons right">send</i></button>
</form>
{% endif %}

<script>
    function sdf_handleOfferFormVisibility()
    {
        var inputParentSiblings = $("#id_offer_form_checkbox").parent().siblings(".input-field");
        var inputCousins = inputParentSiblings.children("input");

        var checkedStatus = $("#id_offer_form_checkbox").prop( "checked" );
        inputCousins.prop('disabled', !checkedStatus);
        inputParentSiblings.css('display', ( checkedStatus ? "block" : "none" ));
    }
    $("#id_offer_form_checkbox").change( sdf_handleOfferFormVisibility );
    sdf_handleOfferFormVisibility();
</script>