{% extends 'base.html' %}

{% block body_classes %}books-edit{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>
                <span class="grey-text title-type">Buch</span><br />
                <span class="orange-text text-lighten-1">{{ book.name }}</span>
            </h1>
        </div>
        <div class="row">
            <form role="form" method="post" action="">
                {% csrf_token %}

                {% for field in form.visible_fields %}
                <div class="input-field {% if field.errors %}has-error{% endif %}">
                    <label>{{ field.label }}</label>
                    {% if field.errors %} <span class="help-block" style="display: inline">(
                    {% for error in field.errors %}
                        {{ error|escape }}
                    {% endfor %})</span>{% endif %}
                    {{ field }}
                </div>
                {% endfor %}
                <button type="submit" class="btn waves-effect waves-light">Aktualisieren <i class="material-icons right">send</i></button>
            </form>
        </div>
    </div>
{% endblock %}
