{% extends 'base.html' %}

{% block body_classes %}archive{% endblock %}

{% block content %}
    <div class="col-md-12 col-xs-12 col-lg-12">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#newBook"><i class="fa fa-plus"></i> Neues Buch anlegen
        </button>
        <div id="newBook" class="{% if collapsed %}collapse{% endif %}" style="padding-top: 15px">
            <form role="form" method="post" action="">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                    {% for field in form.visible_fields %}
                        <div class="form-group  {% if field.errors %}has-error{% endif %}">
                            {{ field.label_tag }}
                            {% if field.errors %} <span class="help-block" style="display: inline">(
                                {% for error in field.errors %}
                                    {{ error|escape }}
                                {% endfor %})</span>{% endif %}
                            {{ field }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <button type="submit" class="btn btn-info">Speichern</button>
            </form>
        </div>
    </div>


    <div class="col-md-12 col-xs-12 col-lg-12" style="padding-top: 15px">
        <h1>Ihre angelegten Bücher</h1>
        {% for book in allSavedCustomerBooks %}
            <ul class="list-group">
                <li class="list-group-item" style="height: 55px">
                    <div style="float: right">
                        <a href="{% url 'archivesEditPage' book.id %}" class="btn btn-default" aria-label="Bearbeiten" title="Bearbeiten">
                            <span class="fa fa-edit" aria-hidden="true"></span>
                        </a>
                        <a href="{% url 'deleteBook' book.id %}" data-method="delete" data-confirm="true" class="btn btn-danger" aria-label="Löschen" title="Löschen">
                            <span class="fa fa-remove" aria-hidden="true"></span>
                        </a>

                        {% if not book.isOnStoreWindow %}
                            <a class="btn btn-default" aria-label="Zum Schaufenster hinzufügen"
                               title="Buch zum Schaufenster hinzufügen">
                                <span class="fa fa-check-circle" aria-hidden="true"></span>
                            </a>
                        {% endif %}

                        {% if book.isOnStoreWindow %}
                            <a class="btn btn-default" aria-label="Zum Schaufenster entfernen"
                               title="Buch aus Schaufenster entfernen">
                                <span class="fa fa-remove" aria-hidden="true"></span>
                            </a>
                        {% endif %}
                    </div>
                    <h4 style="vertical-align: middle">{{ book.name }}</h4>
                </li>
            </ul>
        {% endfor %}
    </div>
{% endblock %}
