{% extends 'base.html' %}

{% block body_classes %}Buch bearbeiten{% endblock %}

{% block content %}
    <h1>Das Buch "{{ book.name }}" aktualisieren</h1>

    <div class="col-md-12 col-xs-12 col-lg-12">
        <form role="form" method="post" action="">
            {% csrf_token %}

            {% for field in formset.visible_fields %}
                <div class="form-group  {% if field.errors %}has-error{% endif %}">
                    {{ field.label_tag }}
                    {% if field.errors %} <span class="help-block" style="display: inline">(
                        {% for error in field.errors %}
                            {{ error|escape }}
                        {% endfor %})</span>{% endif %}
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-info">Aktualisieren</button>
        </form>
    </div>
{% endblock %}
