{% extends 'base.html' %}

{% block body_classes %}archive{% endblock %}

{% block content %}
    <div class="container">
        <div id="newBook" class="{% if collapsed %}collapse{% endif %}" style="padding-top: 15px">
            {% include 'app/_book_form.html' with form=form %}
        </div>
    </div>

    <div class="container">
        <ul class="collection with-header" style="margin-top: 35px">
            <li class="collection-header">
                <h4>
                    Ihre Bücher
                    <a class="secondary-content btn-flat" href="{% url 'createBook' %}">Buch anlegen</a>
                </h4>
            </li>
            {% for book in allBooks %}
            <li class="collection-item">
                <div>
                    {{ book.name }}

                    <a class='secondary-content dropdown-button' href='javascript:void(0);' data-activates='book-{{ book.id }}-actions' data-constrainwidth="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <ul id='book-{{ book.id }}-actions' class='dropdown-content'>
                        <!-- TODO: if not book.isOnStoreWindow -->
                        <li><a href="{% url 'publishBook' book.id %}">Veröffentlichen</a></li>

                        <!-- TODO: if book.isOnStoreWindow
                        <li><a href=" url 'unpublishBook' book.id " data-method="put">Nicht veröffentlichen</a></li>
                        -->
                        <li><a href="{% url 'archivesEditPage' book.id %}">Bearbeiten</a></li>
                        <li><a href="{% url 'deleteBook' book.id %}" data-method="delete" data-confirm="true" title="Löschen">Löschen</a></li>
                    </ul>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
