{% extends 'start_base.html' %}
{% load staticfiles %}

{% block body_classes %}page-start image3{% endblock %}

{% block content %}

<div class="main-header">
    <span class="citations">
        {% if request.user.is_authenticated %}
            Viel Spaß beim Stöbern, {{ request.current_user.pseudonym_or_full_name }}!
        {% else %}
            {{ citation }}
        {% endif %}
    </span>
</div>

<a id="arrow-scroller" class="start-arrow material-icons">keyboard_arrow_down</a>
<a id="arrow-scroller1" class="start-arrow material-icons">keyboard_arrow_down</a>
<a id="arrow-scroller2" class="start-arrow material-icons">keyboard_arrow_down</a>

<div id="books" class="container section">
    <h5 class="header light">
      Neueste Bücher
      <a href="{% url 'app_book:books' %}" class="btn-flat btn-more right">Mehr</a>
    </h5>

    <div class="flex-container">
        {% for offer in offers %}
            {% include 'app/_book_card.html' with user=offer.seller_user book=offer.book offer=offer %}
        {% endfor %}
        {% if offers|length == 0 %}
            <p class="empty">Es sind leider keine Bücher vorhanden!</p>
        {% endif %}
    </div>
</div>

<div class="container section">
    <h5 class="header light">
      Kürzlich aktualisierte Schaufenster
      <a href="{% url 'app_book:showcases' %}" class="btn-flat btn-more right">Mehr</a>
    </h5>

    <div class="flex-container">
        {% for user in users %}
            {% include 'app/_user_card.html' with user=user %}
        {% endfor %}
        {% if users|length == 0 %}
            <p class="empty">Es sind leider keine Schaufenster vorhanden!</p>
        {% endif %}
    </div>
</div>

{% endblock %}
