{% load staticfiles %}

<!DOCTYPE html>
<html>
{% include 'app/_head.html' %}

<body class="page-start">

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.5";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div id="start-header">
        <nav class="transparent" role="navigation">
            <div class="container">
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

                <a id="logo-container" href="/" class="brand-logo"><i class="material-icons left">chrome_reader_mode</i>Book²</a>
                <ul class="right hide-on-med-and-down">

                        <li><a class="btn-flat" href="/accounts/2/showcase?next=/" role="button">Schaufenster</a></li>
                        <li><a class="btn-flat" href="/archive/?next=/" role="button">Archiv</a></li>
                        <li><a class="btn-flat" href="/accounts/2/?next=/" role="button">Profil</a></li>
                        <li><a class="btn-flat" href="/logout/?next=/" role="button">Abmelden</a></li>

                </ul>

                <ul style="left: -250px;" id="nav-mobile" class="side-nav">
                    <li><a href="/showcases">Schaufenster</a></li>
                    <li><a href="/books">Bücher</a></li>
                    <hr>

                        <li><a href="/accounts/2/showcase">Mein Schaufenster</a></li>
                        <li><a href="/archive/">Archiv</a></li>
                        <li><a href="/accounts/2/">Mein Profil</a></li>
                        <li><a href="/accounts/password/">Passwort ändern</a></li>
                        <li><a href="/logout/?next=/">Abmelden</a></li>

                </ul>

            </div>
        </nav>

        <span class="citations">
            {% if request.user.is_authenticated %}
                Viel Spaß beim Stöbern, {{ request.current_user.pseudonym_or_full_name }}!
            {% else %}
                {{ citation }}
            {% endif %}
        </span>



        <a id="arrow-scroller" class="start-arrow material-icons">keyboard_arrow_down</a>
        <a id="arrow-scroller1" class="start-arrow material-icons">keyboard_arrow_down</a>
        <a id="arrow-scroller2" class="start-arrow material-icons">keyboard_arrow_down</a>
    </div>

    <main class="image3">
        {% include 'app/_messages.html' %}

        <div id="books" class="container section">
            <h5 class="header light">
              Neueste Bücher
              <a href="{% url 'app_book:books' %}" class="btn-more right">Mehr</a>
            </h5>

            <div class="flex-container">
                {% for offer in offers %}
                    {% include 'app/_book_card.html' with user=offer.seller_user book=offer.book offer=offer %}
                {% endfor %}
                {% if offers|length == 0 %}
                    <p class="empty">Es sind leider keine Bücher vorhanden!</p>
                {% endif %}
            </div>

            <h5 class="header light">
              Kürzlich aktualisierte Schaufenster
              <a href="{% url 'app_book:showcases' %}" class="btn-more right">Mehr</a>
            </h5>

            <div class="flex-container">
                {% for user in users %}
                    {% include 'app/_user_card.html' with user=user %}
                {% endfor %}
                {% if users|length == 0 %}
                    <p class="empty">Es sind leider keine Schaufenster vorhanden!</p>
                {% endif %}
            </div>
        </div>
    </main>

    {% include 'app/_footer.html' %}
    {% include 'app/_js.html' %}

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            var displayHeight = "innerHeight" in window ? window.innerHeight : document.documentElement.offsetHeight;
            $('#start-header').css('height', displayHeight+'px');
            $('#start-header').find('.start-arrow').each(function(){
                $(this).css('display', 'block');
            });
            $('#arrow-scroller').css("top", displayHeight-110+"px");
            $('#arrow-scroller1').css("top", displayHeight-95+"px");
            $('#arrow-scroller2').css("top", displayHeight-80+"px");
            $('#start-header').find('.citations').css("top", displayHeight/2+"px");
        });
    </script>
</body>
</html>


