{% extends "base.html" %}

{% block title %}Passwort ändern{% endblock %}

{% block content %}
    <h3 class="container">
        <span class="grey-text title-type"></span><br />
        <span class="orange-text text-lighten-1">Passwort ändern</span>
    </h3>

    <div class="container-wrapper">
        <div class="container">
            <form action="{{ action }}" method="post">{% csrf_token %}
                {% for field in form.visible_fields %}
                <div class="input-field {% if field.errors %}has-error{% endif %}">
                    {{ field }}
                    <label>{{ field.label }}</label>
                    {% if field.errors %}
                    <span class="help-block">
                        {% for error in field.errors %}
                        {{ error|escape }}
                        {% endfor %}
                    </span>
                    {% endif %}
                </div>
                {% endfor %}
                <input type="submit" class="btn btn-success" value="Passwort ändern">
            </form>

        </div>
    </div>
{% endblock %}
