{% extends "base.html" %}

{% block title %}Passwort ändern{% endblock %}

{% block content %}
  <div class="container">
    <h3>Passwort ändern</h3>
        <form action="{{ action }}" method="post">{% csrf_token %}
            {% for field in form.visible_fields %}
            <div class="input-field {% if field.errors %}has-error{% endif %}">
                {{ field }}
                <label>{{ field.label }}</label>
                {% if field.errors %}
                    <span class="help-block">
                        {% for error in field.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </span>
                {% endif %}
            </div>
            {% endfor %}
          <input type="submit" class="btn btn-success" value="Passwort ändern">
        </form>

  </div>
{% endblock %}
