{% extends 'base.html' %}

{% block body_classes %}page-login{% endblock %}

{% block content %}
    <div class="container">
      <h3>Account erstellen</h3>

      <form action="{% url 'app_user:register' %}" enctype="multipart/form-data" method="post">{% csrf_token %}
          {% for field in form.visible_fields %}
          <div class="input-field {% if field.errors %}has-error{% endif %}">
              {{ field }}
              <label>{{ field.label }}</label>
              {% if field.errors %}
                  <span class="help-block">
                      {% for error in field.errors %}
                          {{ error|escape }}
                      {% endfor %}
                  </span>
              {% endif %}
          </div>
          {% endfor %}
          <input type="submit" class="btn btn-success" value="Account erstellen">
      </form>
    </div>
{% endblock %}
