{% extends "base.html" %}

{% block title %}Account aktualisieren{% endblock %}

{% block content %}
  <div class="container">
    <h3>Antrag zur Accountänderung</h3>

    <form action="{% url 'app_user:edit_profile' user.id %}" enctype="multipart/form-data" method="POST">{% csrf_token %}
        
        {% for field in form.visible_fields %}
        <div class="input-field {% if field.errors %}has-error{% endif %}">
            {{ field }}
            <label>{{ field.label }}</label>
            {% if field.errors %}
                <span class="help-block">
                    {% for error in field.errors %}
                        {{ error|escape }}
                    {% endfor %}
                </span>
            {% endif %}
        </div>
        {% endfor %}
      <input type="submit" class="btn btn-success" value="Antrag absenden">
    </form>
  </div>
{% endblock %}
