{% extends 'base.html' %}

{% block body_classes %}user-ratings{% endblock %}

{% block content %}
    <div class="container">
        <h3>Bewertungen für <span class="orange-text text-lighten-1">{{rated_user.pseudonym_or_full_name }}</span></h3>

            {% for rating in ratings %}
                {% include 'app_user/_rating_entry.html' with user_rating=rating %}
            {% endfor %}
            {% if ratings.count == 0 %}
                Es sind keine Bewertungen vorhanden.
            {% endif %}

    </div>
{% endblock %}
